<md-card layout="column" md-colors="{background: 'grey-200'}">
	<md-card-content>
			<form name="musicForm">
				<div>
			    	<md-input-container class="help-block md-block" flex-gt-xs flex="100">
				        <label>Nome </label>
				        <input type="text" name="name" required ng-model="musicCtrl.name">
				        <div ng-messages='artistForm.name.$error'>
				            <div ng-message="required">Este campo é obrigatório!</div>
				        </div>
			        </md-input-container>
			        <md-input-container class="md-block" flex-gt-xs flex="100">
				        <label>Artista </label>
				        <input type="text" name="artist" required ng-model="musicCtrl.artist">
				        <div ng-messages='artistForm.name.$error'>
				            <div ng-message="required">Este campo é obrigatório!</div>
				        </div>
			        </md-input-container>
			        <md-input-container class="md-block" flex-gt-xs flex="100">
				        <label>Álbum </label>
				        <input type="text" name="album" required ng-model="musicCtrl.album">
				        <div ng-messages='artistForm.name.$error'>
				            <div ng-message="required">Este campo é obrigatório!</div>
				        </div>
			        </md-input-container>
			        <md-input-container class="md-block" flex-gt-xs flex="100">
				        <label>Ano de lançamento </label>
				        <input type="text" name="releaseYear" required ng-model="musicCtrl.releaseYear">
				        <div ng-messages='artistForm.name.$error'>
				            <div ng-message="required">Este campo é obrigatório!</div>
				        </div>
			        </md-input-container>
			        <md-input-container class="md-block" flex-gt-xs flex="100">
				        <label>Duração </label>
				        <input type="text" name="duration" required ng-model="musicCtrl.duration">
				        <div ng-messages='artistForm.name.$error'>
				            <div ng-message="required">Este campo é obrigatório!</div>
				        </div>
			        </md-input-container>
			    </div>
			</form>
		</div>
	</md-card-content>
	<md-card-actions layout="row" layout-align="end center">
		<md-button class="md-raised md-primary" ng-click="musicCtrl.addMusic()">Adicionar Música</md-button>
	</md-card-actions>
</md-card>